.card {
    width: 200px;
    height: 100px;
    border: solid 2px black;
    border-radius: 5px;
}

.post-image {
    width: 150px;
    height: 70px;
}

.card-details {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}